form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1em 0;

  h3 {
    align-self: flex-start;
  }
}

input[type="submit"] {
  background-color: #ff7f50;
  border-color: #ff7f50;
  border-radius: 0.25em;
  color: #ffd700;
  font-weight: bold;
  margin: 1em 0;
}

input[type="submit"]:hover {
  border-color: #ffd700;
}

input[type="text"]:hover {
  border-color: #ff7f50;
}

label {
  font-weight: bold;
}

textarea:hover {
  border-color: #ff7f50;
}

.abbreviation-note {
  align-self: flex-end;
  font-size: small;
  margin-bottom: 1em;
  text-align: end;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em 0;
  width: 800px;
}

.textarea-input {
  display: flex;
  flex-direction: column;
}

@media(max-width: 600px) {
  textarea {
    height: 150px;
    width: 190px;
  }
  
  .button-group {
    flex-direction: column;
    width: min-content;
  }
  
  .input-group {
    flex-direction: column;
    width: min-content;
  }

  .text-input {
    margin: 1em 0;
  }

  .textarea-input {
    align-items: center;

    label {
      text-align: center;
    }
  }
}

/* This media query adjusts the styles for tablet-sized browsers. */
@media(min-width: 601px) and (max-width: 1200px) {
  .input-group {
    width: min-content;
  }

  .text-input {
    display: flex;
    flex-direction: column;
    margin: 1em 1em;
  }

  .textarea-input {
    align-items: center;

    label {
      text-align: center;
    }
  }
}
