a {
  color: #ff4500;
}

main {
  align-items: center;
  color: #ff4500;
  display: flex;
  grid-area: mn;
  flex-direction: column;
}

h3 {
  text-decoration: underline;
}

img {
  height: 500px;
  width: 700px;
}

section {
  align-items: center;
  border-bottom: thin solid #ff7f50;
  border-top: thin solid #ff7f50;
  display: flex;
  flex-direction: column;
  margin: 3em 0;
  padding: 1em 0;
}

section:nth-of-type(even) {
  border-style: none;
}

.additional-weather-info {
  margin-left: 2em;
}

.custom-table {
  background-color: #fff;
  border: thin solid #ff7f50;
  display: flex;
  flex-direction: column;
  min-height: 104px;
  height: min-content;
  max-height: 181px;
  overflow: auto;
  width: min-content;
}

.custom-table-entry {
  border: thin solid #ff7f50;
  height: 75px;
  text-align: center;
  width: 150px;
}

.custom-table-headers {
  display: flex;
  flex-direction: row;
  text-decoration: underline;

  .custom-table-entry {
    height: 25px;
  }
}

.custom-table-row { 
  display: flex;
  flex-direction: row;
  height: min-content;
  width: min-content; 
}

.data-row:hover {
  background-color: #add8e6;
}

.forecast-box {
  background-color: #add8e6;
  height: 400px;
  width: 350px;

  h4 {
    margin: 0.5em 0 0.25em 2em;
    text-decoration: underline;
  }
}

.forecast-date {
  text-align: center;
}

.general-weather-info {
  margin-left: 2em;
}

.main-weather-info {
  display: flex;
  flex-direction: row;
  width: 350px;

  img {
    height: 150px;
    width: 150px;
  }
}

.selected-data-row {
  background-color: #add8e6;
}

.small-weather-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 0.5em;
  text-align: left;
}

.trip-display {
  h3,
  h4,
  h5 {
    text-align: center;
  }
}

.weather-display {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  height: min-content;
  min-height: 400px;
  min-width: 350px;
  max-width: 1050px;
  overflow: auto;
  width: min-content;
}

#planned-activities-table {
  min-height: 179px;
  max-height: 331px;
  
  .custom-table-entry {
    height: 150px;
    width: 190px;
  }

  .custom-table-headers {
    .custom-table-entry {
      height: 25px;
    }
  }
}

@media(max-width: 600px) {
  figcaption {
    text-align: center;
    width: 200px;
  }
  
  h3 {
    text-align: center;
    width: 250px;
  }
  
  img {
    height: 100px;
    width: 200px;
  }

  .custom-table {
    flex-direction: row;
    max-height: min-content;
    min-height: min-content;
    max-width: 244px;
    min-width: 244px;
  }

  .custom-table-entry {
    height: 110px;
    width: 120px;
  }

  .custom-table-headers {
    flex-direction: column;
    
    .custom-table-entry {
      height: 110px;
    }
  }

  .custom-table-row {
    flex-direction: column;
  }

  #planned-activities-table {
    min-height: min-content;
    max-height: min-content;
    min-width: 204px;
    max-width: 204px;
    
    .custom-table-entry {
      height: 240px;
      width: 100px;
    }

    .custom-table-headers {
      .custom-table-entry {
        height: 240px;
	width: 100px;
      }
    }
  }
}

@media(min-width: 601px) and (max-width: 1200px) {
  img {
    height: 300px;
    width: 500px;
  }

  .custom-table {
    flex-direction: row;
    max-height: min-content;
    min-height: min-content;
    max-width: 456px;
    min-width: 304px;
  }

  .custom-table-headers {
    .custom-table-entry {
      height: 75px;
    }
  }

  .custom-table-row {
    flex-direction: column;
  }

  #planned-activities-table {
    min-height: min-content;
    max-height: min-content;
    min-width: 304px;
    max-width: 456px;
    
    .custom-table-entry {
      height: 195px;
      width: 150px;
    }

    .custom-table-headers {
      .custom-table-entry {
        height: 195px;
	width: 150px;
      }
    }
  }
}
